nav {
    font-size: 2rem;
    background-color: rosybrown;

}
body {
    /* max-width: 10 rem; */
    background-image: url("images/stone.jpg"); 
    
    font-family: 'IBM Plex', sans-serif;
    display: flex;
    margin: auto;
    /* padding: 100; */
}
html {
    font-size: 100%;
}
a, u {
    text-decoration: none;
} 

 nav ul {
    list-style-type:none;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    flex: auto;
}

nav ul li:hover {
  background-color: rgb(255, 107, 230);
  color: rgb(032,453,345);
}

@media screen and (min-width: 400px) {
    .features {
        background: yellow;
    }
}


@media screen and (max-width: 800px) {
    .features {
        background: red;
    }
}
